0  0  1,15  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 1
0  0  2,16  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 2
0  0  3,17  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 2
0  0  4,18  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  0  5,19  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  0  6,20  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  0  7,21  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  0  8,22  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  0  9,23  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  0  10,24 * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  12 1,15  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 1
0  12 2,16  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 2
0  12 3,17  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 2
0  12 4,18  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  12 5,19  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  12 6,20  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  12 7,21  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  12 8,22  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  12 9,23  * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
0  12 10,24 * * ubuntu  bash /home/ubuntu/kkestate/main/monitor.sh 3
